.signup {
    
    .button-fab {
        position: inherit;
    }
    
    .signin-buttons .button {
        display: block;
        margin: 0 auto;
    }
    
    .center-label {
        text-align: center;
    }

}
