.join {
    
    .slide-title {
        font-size: 22px;
        margin: 10px 0px 0px 0px;
    }
    
    .interests {
        font-size: 10px;
    }
    
    .interests ion-icon {
        font-size: 55px;
    }
    
    .teal {
        color: #53777A
    }
    
    .crimson {
        color: crimson
    }
    
    .gold {
        color: #ECD078
    }
    
    .blood-orange {
        color: #D95B43
    }
    
    .turquoise {
        color: #3FB8AF
    }
    
    .pink {
        color: #FF9E9D
    }

}
