.profile {
    
    .counter {
        font-size: 20px;
    }
    
    .column-spacing {
        margin-right: 10px;
    }
    
    .center-add-button {
        margin-left: 17px;
    }

    .center-send-button {
        margin-left: 12.5px;
    }
    
    img {
        max-width: 140%;
    }

}
