.search {
    
    .search-searchbar {
        margin-bottom: 20px;
        border-radius: 5px;
    }
    
    .search-history {
        background-color: #ccc;
        padding: 25px;
        margin: 20px;
    }
    
    .suggested-header {
        font-size: 16px;
        font-style: italic;
    }
    
    .suggested-text {
        color: #DC143C;
        padding: 2px;
        margin: 2px;
    }

    .join {
        width: 100%;
        background: color($colors, crimson);
        padding: 10px;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        font-size: 16px;
    }
    
    .join-button {
        text-transform: uppercase;
        font-weight: bold;
    }
    
    .buddies {
        height: 100px;
        
        img {
            @extend .avatar-small;
            margin: 5px;
            border-radius: 50%;
            float: left;
        }
    }

    .thumb img {
        border-radius: 10px;
        max-height: 12rem;
        max-width: 12rem;
    }
    
    .spacing {
        margin-left: 3.3rem;
    }
    
    .counter {
        font-weight: bold;
    }
    
    .text-spacing {
        margin-left: 3.3rem;
        font-weight: bold;
        margin-top: 2px;
        
        .buddies {
            font-size: 12px;
            margin-left: 1px;   
        }

        .circles {
            font-size: 12px;
            margin-left: 2px;              
        }
        
        .pins {
            font-size: 12px;
            margin-left: 1px;             
        }
    }
    
    .inner-button {
        padding: 0;
        text-transform: capitalize;
    }

    .project-by {
        max-width: 48px !important;
        height: auto;
        border-radius: 50% !important;
    }

    .project-by-text {
        font-size: 12px;
    }

}
