.tabs {
    
/*    ion-navbar-section {
        display: none;
    }*/
    
    .toolbar-background {
        
        border-bottom-width: 0px;
        border-style: solid;
        border-color: #b2b2b2;
        background: transparent;
        
    }

}
